html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Reset */

body {
    background: #05070b;
    color: #fff9f8;
    border-radius: 16px;
    width: 400px;
    height: 500px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    overflow: scroll;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #b7b8c4;
    font-size: 14px;
    
}

input, select {
    background-color: #111317;
    color: #b7b8c4;
    padding: 12px 8px;
    height: 48px;
    border-radius: 8px;
    border: 2px solid #2A2B3C;
    background: #111317;    
    width: 100%;
    box-sizing: border-box;
}

h1{
    margin-top: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #FFF9F8;
}

button {
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #3930e3;
    border: none;
    padding: 8px 24px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
}

button:hover, .connect-button:hover {
    background: #4f47e3;
}

.cnt {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
form {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    padding-bottom: 80px;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.mini-profile {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    gap: 8px;
    height: 80px;
    align-items: center;
}
.mini-profile__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.mini-profile__user-name {
    margin-top: auto;
    margin-bottom: auto;
}

.button-cnt {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;
}

#deleteButton {
    color: #ba1a1a;
    background: transparent;
    border: #ba1a1a 2px solid;
}

#deleteButton:hover {
    background: #ba1a1a;
    color: white;
}

.data-cnt {
    display: flex;
    flex-direction: row;
    gap: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(5, 7, 11, 0.9);
    backdrop-filter: blur(8px);
    padding: 8px 16px;
    align-items: center;
    gap: 16px;
}

.icon-button {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    display: flex;
    width: 80px;
    height: 56px;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 104px;
    background: transparent;
}

.icon-button:hover {
    background: #191B1F;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}